[Desktop Entry]
Version=1.1
Type=Application
Name=katarakt
GenericName=File viewer
Comment=View PDF files
Exec=katarakt %f
Terminal=false
NoDisplay=false
Categories=Utility;
Keywords=view;pdf
MimeType=application/pdf;application/x-pdf;
